<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.base.security.dao.SysResourcesDao" >
  <resultMap id="BaseResultMap" type="com.demo.base.security.entity.SysResources" >
    <id column="resource_id" property="resourceId" jdbcType="VARCHAR" />
    <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
    <result column="resource_desc" property="resourceDesc" jdbcType="VARCHAR" />
    <result column="resource_type" property="resourceType" jdbcType="VARCHAR" />
    <result column="resource_url" property="resourceUrl" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="order_num" property="orderNum" jdbcType="VARCHAR" />
    <result column="icon_name" property="iconName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    resource_id, resource_name, resource_desc, resource_type, resource_url, parent_id, 
    order_num, icon_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.demo.base.security.entity.SysResourcesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_resources
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="page != null" >
      limit #{page.pageSize} offset #{page.begin}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_resources
    where resource_id = #{resourceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_resources
    where resource_id = #{resourceId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.base.security.entity.SysResourcesExample" >
    delete from sys_resources
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.base.security.entity.SysResources" >
    insert into sys_resources (resource_id, resource_name, resource_desc, 
      resource_type, resource_url, parent_id, 
      order_num, icon_name)
    values (#{resourceId,jdbcType=VARCHAR}, #{resourceName,jdbcType=VARCHAR}, #{resourceDesc,jdbcType=VARCHAR}, 
      #{resourceType,jdbcType=VARCHAR}, #{resourceUrl,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=VARCHAR}, #{iconName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.base.security.entity.SysResources" >
    insert into sys_resources
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="resourceName != null" >
        resource_name,
      </if>
      <if test="resourceDesc != null" >
        resource_desc,
      </if>
      <if test="resourceType != null" >
        resource_type,
      </if>
      <if test="resourceUrl != null" >
        resource_url,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="orderNum != null" >
        order_num,
      </if>
      <if test="iconName != null" >
        icon_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourceId != null" >
        #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null" >
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceDesc != null" >
        #{resourceDesc,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null" >
        #{resourceType,jdbcType=VARCHAR},
      </if>
      <if test="resourceUrl != null" >
        #{resourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="iconName != null" >
        #{iconName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.base.security.entity.SysResourcesExample" resultType="java.lang.Integer" >
    select count(*) from sys_resources
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_resources
    <set >
      <if test="record.resourceId != null" >
        resource_id = #{record.resourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceName != null" >
        resource_name = #{record.resourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceDesc != null" >
        resource_desc = #{record.resourceDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceType != null" >
        resource_type = #{record.resourceType,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceUrl != null" >
        resource_url = #{record.resourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNum != null" >
        order_num = #{record.orderNum,jdbcType=VARCHAR},
      </if>
      <if test="record.iconName != null" >
        icon_name = #{record.iconName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_resources
    set resource_id = #{record.resourceId,jdbcType=VARCHAR},
      resource_name = #{record.resourceName,jdbcType=VARCHAR},
      resource_desc = #{record.resourceDesc,jdbcType=VARCHAR},
      resource_type = #{record.resourceType,jdbcType=VARCHAR},
      resource_url = #{record.resourceUrl,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      order_num = #{record.orderNum,jdbcType=VARCHAR},
      icon_name = #{record.iconName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.base.security.entity.SysResources" >
    update sys_resources
    <set >
      <if test="resourceName != null" >
        resource_name = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceDesc != null" >
        resource_desc = #{resourceDesc,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null" >
        resource_type = #{resourceType,jdbcType=VARCHAR},
      </if>
      <if test="resourceUrl != null" >
        resource_url = #{resourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null" >
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="iconName != null" >
        icon_name = #{iconName,jdbcType=VARCHAR},
      </if>
    </set>
    where resource_id = #{resourceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.base.security.entity.SysResources" >
    update sys_resources
    set resource_name = #{resourceName,jdbcType=VARCHAR},
      resource_desc = #{resourceDesc,jdbcType=VARCHAR},
      resource_type = #{resourceType,jdbcType=VARCHAR},
      resource_url = #{resourceUrl,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=VARCHAR},
      icon_name = #{iconName,jdbcType=VARCHAR}
    where resource_id = #{resourceId,jdbcType=VARCHAR}
  </update>
  <select id="selectByUserAccount" parameterType="map" resultMap="BaseResultMap">
  	select * from sys_resources res
	LEFT JOIN sys_authorities_resources ar on ar.resource_id = res.resource_id
	LEFT JOIN sys_authorities a on a.authority_id = ar.authority_id and a.enabled=1
	LEFT JOIN sys_roles_authorities ra on a.authority_id = ra.authority_id
	LEFT JOIN sys_roles r on r.role_id = ra.role_id and r.enabled=1
	LEFT JOIN sys_users_roles ur on r.role_id = ur.role_id
	LEFT JOIN sys_users u on ur.user_id= u.user_id and u.enable=1
	where res.resource_type = 'url'
	<if test="userAccount != null" >
		and u.user_account = #{userAccount,jdbcType=VARCHAR}
	</if>
  </select>
</mapper>