<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.cash.CashFlowDao" >
  <resultMap id="BaseResultMap" type="com.demo.entity.cash.CashFlow" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="PAYEE_MAN" property="payeeMan" jdbcType="VARCHAR" />
    <result column="PAYER_MAN" property="payerMan" jdbcType="VARCHAR" />
    <result column="MONEY" property="money" jdbcType="DECIMAL" />
    <result column="PAY_DATE" property="payDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, PAYEE_MAN, PAYER_MAN, MONEY, PAY_DATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.demo.entity.cash.CashFlowExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CASH_FLOW
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <delete id="deleteByExample" parameterType="com.demo.entity.cash.CashFlowExample" >
    delete from CASH_FLOW
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.entity.cash.CashFlow" >
    insert into CASH_FLOW (ID, PAYEE_MAN, PAYER_MAN, 
      MONEY, PAY_DATE)
    values (#{id,jdbcType=DECIMAL}, #{payeeMan,jdbcType=VARCHAR}, #{payerMan,jdbcType=VARCHAR}, 
      #{money,jdbcType=DECIMAL}, #{payDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.entity.cash.CashFlow" >
    insert into CASH_FLOW
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="payeeMan != null" >
        PAYEE_MAN,
      </if>
      <if test="payerMan != null" >
        PAYER_MAN,
      </if>
      <if test="money != null" >
        MONEY,
      </if>
      <if test="payDate != null" >
        PAY_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="payeeMan != null" >
        #{payeeMan,jdbcType=VARCHAR},
      </if>
      <if test="payerMan != null" >
        #{payerMan,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="payDate != null" >
        #{payDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.entity.cash.CashFlowExample" resultType="java.lang.Integer" >
    select count(*) from CASH_FLOW
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CASH_FLOW
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.payeeMan != null" >
        PAYEE_MAN = #{record.payeeMan,jdbcType=VARCHAR},
      </if>
      <if test="record.payerMan != null" >
        PAYER_MAN = #{record.payerMan,jdbcType=VARCHAR},
      </if>
      <if test="record.money != null" >
        MONEY = #{record.money,jdbcType=DECIMAL},
      </if>
      <if test="record.payDate != null" >
        PAY_DATE = #{record.payDate,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CASH_FLOW
    set ID = #{record.id,jdbcType=DECIMAL},
      PAYEE_MAN = #{record.payeeMan,jdbcType=VARCHAR},
      PAYER_MAN = #{record.payerMan,jdbcType=VARCHAR},
      MONEY = #{record.money,jdbcType=DECIMAL},
      PAY_DATE = #{record.payDate,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>