<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.2.xsd 
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
	
	<context:component-scan base-package="com.demo"/>

	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!--  不拦截静态文件  -->
	<mvc:resources location="/" mapping="/**/*.html"/>
	<mvc:resources location="/" mapping="/**/*.js"/>
	<mvc:resources location="/" mapping="/**/*.css"/>
	<mvc:resources location="/" mapping="/**/*.png"/>
	<mvc:resources location="/" mapping="/**/*.gif"/>
	
	<!-- 启动对@AspectJ注解的支持 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>


	<bean id="utf8Charset" class="java.nio.charset.Charset"  factory-method="forName">  
        <constructor-arg value="UTF-8"/>  
    </bean>  
    
	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"></bean>
	
	<mvc:default-servlet-handler/>
	
	<mvc:annotation-driven>
		<mvc:message-converters>  
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">  
                <constructor-arg ref="utf8Charset" />  
            </bean>  
        </mvc:message-converters>  
	</mvc:annotation-driven>

	<!-- 		拦截器		 -->
<!-- 	<mvc:interceptors>  -->
<!-- 		 <mvc:interceptor> -->
<!-- 			<mvc:mapping path="/setMenu"/> -->
<!-- 			<bean class="com.demo.interceptor.MenuInterceptor" />	 -->
<!-- 		</mvc:interceptor>  -->
<!--  	</mvc:interceptors> -->
	
	<!-- 	国际化 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="classpath:config/properties/MyMessage" />	
	</bean>
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver"/>
		

	
	<!--  文件上传相关  -->
<!-- 	<bean id="multipartResolver" -->
<!--     class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> -->
<!--         <property name="defaultEncoding" value="utf-8"></property>   -->
<!-- 	    <property name="maxUploadSize" value="524288000"/> -->
<!-- 	    <property name="maxInMemorySize" value="102400" /> -->
<!-- 	</bean> -->
	<bean id="multipartResolver"
    class="com.demo.listener.CustomMultipartResolver">
        <property name="defaultEncoding" value="utf-8"></property>  
	    <property name="maxUploadSize" value="524288000"/>
	    <property name="maxInMemorySize" value="102400" />
	</bean>
	
	<!-- 	加载数据库配置 -->
	<import resource="classpath*:SpringDataBase.xml"/>
	<!-- 	加载权限配置 -->
	<import resource="classpath*:SpringSecurity.xml"/>
	<!-- 	加载Redis配置 -->
	<import resource="classpath*:SpringRedis.xml"/>
	<!-- 	加载Quartz配置 -->
	<import resource="classpath*:SpringQuartz.xml"/>
	
</beans>