<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.2.xsd 
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">
	
	<context:property-placeholder location="classpath*:dbconfig.properties" ignore-unresolvable="true" />
<!--  阿里 druid数据库连接池  -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"  init-method="init" destroy-method="close">  
<!--          数据库基本信息配置 -->
         <property name="url" value="${db.url}" />  
         <property name="username" value="${db.username}" />  
         <property name="password" value="${db.password}" />  
         <property name="driverClassName" value="${db.driverClassName}" />  
         <property name="filters" value="${db.filters}" />  
<!--    		 最大并发连接数 -->
         <property name="maxActive" value="${db.maxActive}" />
<!--          初始化连接数量 -->
         <property name="initialSize" value="${db.initialSize}" />
<!--          配置获取连接等待超时的时间 -->
         <property name="maxWait" value="${db.maxWait}" />
<!--          最小空闲连接数 -->
         <property name="minIdle" value="${db.minIdle}" />  
<!--    		 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
         <property name="timeBetweenEvictionRunsMillis" value="${db.timeBetweenEvictionRunsMillis}" />
<!--          配置一个连接在池中最小生存的时间，单位是毫秒 -->
         <property name="minEvictableIdleTimeMillis" value="${db.minEvictableIdleTimeMillis}" />  
         <property name="validationQuery" value="${db.validationQuery}" />  
         <property name="testWhileIdle" value="${db.testWhileIdle}" />  
         <property name="testOnBorrow" value="${db.testOnBorrow}" />  
         <property name="testOnReturn" value="${db.testOnReturn}" />  
         <property name="maxOpenPreparedStatements" value="${db.maxOpenPreparedStatements}" />
<!--          打开removeAbandoned功能 -->
         <property name="removeAbandoned" value="${db.removeAbandoned}" />
<!--          1800秒，也就是30分钟 -->
         <property name="removeAbandonedTimeout" value="${db.removeAbandonedTimeout}" />
<!--          关闭abanded连接时输出错误日志    -->
         <property name="logAbandoned" value="${db.logAbandoned}" />
	</bean>  
<!-- JDBC 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>	
	</bean>
	<!-- MyBatis 自动扫描加载 Sql 映射文件/接口 -->  
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.**.dao"/>
	</bean>
<!-- MyBatis 的 SqlSession 的工厂，并引用数据源，扫描 MyBatis 的配置文件 -->
	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="typeAliasesPackage" value="com.**.entity;com.**.dto"/>
		<property name="mapperLocations" >
			<list>
				<value>classpath*:com/**/dao/**Mapper.xml</value>
			</list>
		</property>
	</bean>
<!-- 启用支持 annotation 注解方式事务管理 -->
   	<tx:annotation-driven transaction-manager="transactionManager" />
	
<!-- 	druid检测配置 -->
	<bean id="druid-stat-interceptor" class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor">
    </bean>
	<bean id="druid-stat-pointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut" scope="prototype">
	   <property name="patterns">
	       <list>
	           <value>com.company.bussines.service.*</value>
	           <value>com.company.bussines.dao.*</value>
	       </list>
	   </property>
	</bean>
	<aop:config proxy-target-class="true">
	   <aop:advisor advice-ref="druid-stat-interceptor" pointcut-ref="druid-stat-pointcut" />
	</aop:config>
<!-- 	druid检测配置 -->	
</beans>