<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.sys.SysUserDao" >
  <resultMap id="BaseResultMap" type="com.demo.entity.sys.SysUser" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_PWD" property="userPwd" jdbcType="VARCHAR" />
    <result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />
    <result column="USER_PROFESSION" property="userProfession" jdbcType="VARCHAR" />
    <result column="REAL_NAME" property="realName" jdbcType="VARCHAR" />
    <result column="REAL_INCOME" property="realIncome" jdbcType="DECIMAL" />
    <result column="FAMILY_NUMBER" property="familyNumber" jdbcType="DECIMAL" />
    <result column="ID_NUMBER" property="idNumber" jdbcType="VARCHAR" />
    <result column="CREDIT_RATE" property="creditRate" jdbcType="VARCHAR" />
    <result column="HEADSHOT_IMG" property="headshotImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, USER_NAME, USER_PWD, USER_EMAIL, USER_PROFESSION, REAL_NAME, REAL_INCOME, FAMILY_NUMBER, 
    ID_NUMBER, CREDIT_RATE, HEADSHOT_IMG
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.demo.entity.sys.SysUserExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from SYS_USER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from SYS_USER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.entity.sys.SysUserExample" >
    delete from SYS_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.entity.sys.SysUser" >
    insert into SYS_USER (ID, USER_NAME, USER_PWD, 
      USER_EMAIL, USER_PROFESSION, REAL_NAME, 
      REAL_INCOME, FAMILY_NUMBER, ID_NUMBER, 
      CREDIT_RATE, HEADSHOT_IMG)
    values (#{id,jdbcType=DECIMAL}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, 
      #{userEmail,jdbcType=VARCHAR}, #{userProfession,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, 
      #{realIncome,jdbcType=DECIMAL}, #{familyNumber,jdbcType=DECIMAL}, #{idNumber,jdbcType=VARCHAR}, 
      #{creditRate,jdbcType=VARCHAR}, #{headshotImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.entity.sys.SysUser" >
    insert into SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userPwd != null" >
        USER_PWD,
      </if>
      <if test="userEmail != null" >
        USER_EMAIL,
      </if>
      <if test="userProfession != null" >
        USER_PROFESSION,
      </if>
      <if test="realName != null" >
        REAL_NAME,
      </if>
      <if test="realIncome != null" >
        REAL_INCOME,
      </if>
      <if test="familyNumber != null" >
        FAMILY_NUMBER,
      </if>
      <if test="idNumber != null" >
        ID_NUMBER,
      </if>
      <if test="creditRate != null" >
        CREDIT_RATE,
      </if>
      <if test="headshotImg != null" >
        HEADSHOT_IMG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userProfession != null" >
        #{userProfession,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="realIncome != null" >
        #{realIncome,jdbcType=DECIMAL},
      </if>
      <if test="familyNumber != null" >
        #{familyNumber,jdbcType=DECIMAL},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="creditRate != null" >
        #{creditRate,jdbcType=VARCHAR},
      </if>
      <if test="headshotImg != null" >
        #{headshotImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.entity.sys.SysUserExample" resultType="java.lang.Integer" >
    select count(*) from SYS_USER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SYS_USER
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.userName != null" >
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.userPwd != null" >
        USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.userEmail != null" >
        USER_EMAIL = #{record.userEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.userProfession != null" >
        USER_PROFESSION = #{record.userProfession,jdbcType=VARCHAR},
      </if>
      <if test="record.realName != null" >
        REAL_NAME = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.realIncome != null" >
        REAL_INCOME = #{record.realIncome,jdbcType=DECIMAL},
      </if>
      <if test="record.familyNumber != null" >
        FAMILY_NUMBER = #{record.familyNumber,jdbcType=DECIMAL},
      </if>
      <if test="record.idNumber != null" >
        ID_NUMBER = #{record.idNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.creditRate != null" >
        CREDIT_RATE = #{record.creditRate,jdbcType=VARCHAR},
      </if>
      <if test="record.headshotImg != null" >
        HEADSHOT_IMG = #{record.headshotImg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SYS_USER
    set ID = #{record.id,jdbcType=DECIMAL},
      USER_NAME = #{record.userName,jdbcType=VARCHAR},
      USER_PWD = #{record.userPwd,jdbcType=VARCHAR},
      USER_EMAIL = #{record.userEmail,jdbcType=VARCHAR},
      USER_PROFESSION = #{record.userProfession,jdbcType=VARCHAR},
      REAL_NAME = #{record.realName,jdbcType=VARCHAR},
      REAL_INCOME = #{record.realIncome,jdbcType=DECIMAL},
      FAMILY_NUMBER = #{record.familyNumber,jdbcType=DECIMAL},
      ID_NUMBER = #{record.idNumber,jdbcType=VARCHAR},
      CREDIT_RATE = #{record.creditRate,jdbcType=VARCHAR},
      HEADSHOT_IMG = #{record.headshotImg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.entity.sys.SysUser" >
    update SYS_USER
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        USER_PWD = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userProfession != null" >
        USER_PROFESSION = #{userProfession,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        REAL_NAME = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="realIncome != null" >
        REAL_INCOME = #{realIncome,jdbcType=DECIMAL},
      </if>
      <if test="familyNumber != null" >
        FAMILY_NUMBER = #{familyNumber,jdbcType=DECIMAL},
      </if>
      <if test="idNumber != null" >
        ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="creditRate != null" >
        CREDIT_RATE = #{creditRate,jdbcType=VARCHAR},
      </if>
      <if test="headshotImg != null" >
        HEADSHOT_IMG = #{headshotImg,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.entity.sys.SysUser" >
    update SYS_USER
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PWD = #{userPwd,jdbcType=VARCHAR},
      USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      USER_PROFESSION = #{userProfession,jdbcType=VARCHAR},
      REAL_NAME = #{realName,jdbcType=VARCHAR},
      REAL_INCOME = #{realIncome,jdbcType=DECIMAL},
      FAMILY_NUMBER = #{familyNumber,jdbcType=DECIMAL},
      ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      CREDIT_RATE = #{creditRate,jdbcType=VARCHAR},
      HEADSHOT_IMG = #{headshotImg,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>